
  
 .logocontainer {
    max-width: 100%; /* Ajusta el tamaño de la imagen para que no se desborde del contenedor */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2 vb; /* Establece la altura del contenedor para ocupar el 100% de la altura de la ventana */
    text-align: center;
    margin-top: 0; 
   

  }


  .ola {
    max-width:10%;
    display: flex;
    justify-content: left;
    align-items: left ;
    height: 2vb;
    margin-top: 2%;
  
  }

  .subtexto {
    font-family: "Nombre de la fuente", sans-serif; /* Reemplaza "Nombre de la fuente" con el nombre de la fuente que deseas utilizar */
    /* Otros estilos para el subtítulo, como tamaño, color, etc. */
  }


.subtexto {

    max-width:100%;
    display: flex;
    justify-content: center;
    align-items: center;
  height: 1vh ;

  }
.subtexto{
    text-align: center;
    margin-top: 2% ; 
  }


