
  
 .logocontainer {
    max-width: 100%; /* Ajusta el tamaño de la imagen para que no se desborde del contenedor */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vb; /* Establece la altura del contenedor para ocupar el 100% de la altura de la ventana */
    text-align: center;
    margin-top: 0; 
      
  }
  

h1 {
    color: black;
    max-width:100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2vb;
}

.subtexto {

    max-width:100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 1vh;

}
.subtexto{
    text-align: center;
    margin-top: 0; 
}